/* ==================== */
/* Form Container */
/* ==================== */

.formContainer {
  padding: 40px;
  margin-top: 100px;
}

/* ==================== */
/* Form Card */
/* ==================== */

.formContainer > div {
  max-width: 400px;
  margin: 0 auto 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* ==================== */
/* Title */
/* ==================== */

.formContainer h3 {
  margin-top: 0;
}

/* ==================== */
/* Form Fields */
/* ==================== */

.formContainer form > div {
  margin-bottom: 15px;
}

/* ==================== */
/* Inputs */
/* ==================== */

.formContainer input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formContainer input:focus {
  outline: none;
  border-color: var(--primary);
}

/* ==================== */
/* Button */
/* ==================== */

.formContainer button {
  width: 100%;
}

/* ==================== */
/* Remove number arrows */
/* ==================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==================== */
/* Product Type Options */
/* ==================== */

.formContainer .productTypeOptions {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.formContainer input[type="radio"] {
  width: auto;
}
