.card {
  position: relative;
  width: 200px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}

.card a {
  position: absolute;
  transition: 300ms;
  z-index: 2;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.card a {
  border: none;
  align-self: center;
}

.card:active {
  transform: scale(0.98);
}

.card span {
  padding-right: 10px;
}
