/* ==================== */
/* User Button Container */
/* ==================== */

.signBtnContainer {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signBtnContainer img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 200ms;
  border: 2px solid transparent;
}

/* ==================== */
/*  Dropdown Menu */
/* ==================== */

.dropdownMenu {
  cursor: default;
  width: max-content;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  transition: 300ms;
  display: none;
  flex-direction: column;
}

.dropdownMenu a {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ==================== */
/*  Menu States */
/* ==================== */

.showMenu {
  display: flex;
}
