/* ==================== */
/* Contact Section */
/* ==================== */

.contact small {
  color: #838b95;
}

/* ==================== */
/* Form */
/* ==================== */

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

form label {
  display: flex;
  flex-direction: column;
}

/* ==================== */
/* Inputs */
/* ==================== */

input,
textarea {
  border: 1px solid #838b95;
  padding: 20px;
  border-radius: 30px;
  resize: none;
  margin-top: 5px;
  outline-color: var(--primary);
  background-color: transparent;
}
