nav {
  position: fixed;
  width: 100%;
  padding: 0 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: 300ms;
  top: 50px;
  z-index: 100;
  gap: 100px;
}

nav .logoLink {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 800;
  height: 100%;

  span {
    margin-top: 12px;
  }
}

nav img {
  object-fit: cover;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
  transition: 200ms;

  &:hover {
    color: var(--primary);
  }
}

nav .menuBtn {
  display: none;
}

@media (max-width: 639px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    display: none;
  }

  nav .menuBtn {
    display: flex;
  }

  nav .signBtn {
    display: none !important;
  }

  nav .logoLink span {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  nav {
    padding: 0 50px;
  }

  nav .menuBtn {
    display: flex;
  }

  nav .signBtn {
    display: none !important;
  }

  nav ul {
    display: none;
  }
}
