nav {
  position: fixed;
  width: 100%;
  padding: 0 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 300ms;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}

nav .logoLink {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;

  p {
    margin: 0;
    font-weight: 800;
    font-size: 22px;
    line-height: 18px;

    display: flex;
    flex-direction: column;

    span {
      letter-spacing: 1px;
      direction: ltr;
      width: 100%;
      font-family: logo;
      text-align: center;
    }
  }

  &:hover {
    color: black;
  }
}

nav img {
  object-fit: cover;
  height: 100%;
}

nav ul {
  display: flex;
  gap: 30px;
  width: auto;
}

nav ul li {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  transition: 200ms;

  &:hover {
    color: var(--primary);
  }
}

nav > .actionBtn:nth-child(3) {
  display: none;
}

@media (max-width: 639px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    display: none;
  }

  nav > .actionBtn:nth-child(3) {
    display: flex;
  }

  nav .signBtnContainer {
    display: none;
  }

  nav .logoLink span {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  nav {
    padding: 0 50px;
  }

  nav > .actionBtn:nth-child(3) {
    display: flex;
  }

  nav .signBtnContainer {
    display: none !important;
  }

  nav ul {
    display: none;
  }
}
