footer {
  background-color: #051625;
  color: white;
  padding: 20px 70px;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-style: italic;
  color: var(--primary);
  font-family: logo;
}
