* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: chemo;
}

@font-face {
  font-family: chemo;
  src: url(./assets/fonts/ElMessiri-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: logo;
  src: url(./assets/fonts/PoetsenOne-Regular.ttf);
  font-display: swap;
}

:root {
  --primary: #4977e5;
  --active: #3b63c1;
  --shadow: #3769dcb3;
}

.container {
  margin-left: 70px;
  margin-right: 70px;
}

.mt {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.primaryBtn {
  font-size: 16px;
  padding: 10px 24px;
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
  border-radius: 22px;
  transition: 200ms;
  box-shadow: 0px 0px 10px 1px var(--shadow);
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: var(--active);
  }
}

.outlineBtn {
  font-size: 16px;
  padding: 10px 24px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 22px;
  transition: 200ms;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: var(--active);
    color: white;
    box-shadow: 0px 0px 10px var(--shadow);
  }
}

@media (max-width: 639px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}
